$body-background-color: #093426;
$header-background-color: #093426; 
$header-color: #E7F3EF;
$header-anchor-color:  #2b2e30;
$main-background-color: #23483C;
$main-color: #E7F3EF;
$title-color: #C1E1D7;
$footer-background: #093426;
$footer-color: #E7F3EF;
$border-color: #23483C;
$anchor-color: #C1E1D7;
$report-border-color: #093426;
