$body-background-color:  #E7F3EF;
$header-background-color: #79BEA8; 
$header-color: #E7F3EF;
$header-anchor-color:  #2b2e30;
$main-background-color: rgba($header-color, 0.80);
$main-color: #093426;
$title-color: #093426;
$footer-background: #23483C;
$footer-color: #E7F3EF;
$border-color: #093426;
$anchor-color: #093426;
$report-border-color: #093426;
