.grid-wrap {
    display: grid;
    gap: 1em 1em;
}

.kmom {
    grid-template-columns: 30% auto;
}

.grid-wrap h1 {
    grid-column: span 3;
    justify-self: center;
}

.grid-item {
    border: 0.2em solid $report-border-color;
    position: relative;
}

.grid-item.project {
    grid-column: span 3;
}

.grid-item h1 {
    background-color: $header-background-color;
    padding: 0.5em;
    font-size: 1em;
    margin: 0em;
    display: block;
}

.grid-item i {
    float: right;
    font-size: 2em;
}

.grid-item p {
    height: 7em;
}

.grid-item a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.kmom-cont {
    grid-column: span 2;
}

.grid-item-kmom-side {
    grid-column: 1;
    margin: 2em;
}

.grid-item-kmom {
    grid-column: 2;
    grid-row: 1 span;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .grid-wrap h1 {
        grid-column: span 1;
        justify-self: center;
    }

    .grid-item.project {
        grid-column: span 1;
    }

    .grid-item-kmom-side {
        display: none;
    }

    .grid-item-kmom {
        grid-column: span 2;
        grid-row: 1 span;
    }

    h1 {
        font-size: 1.5em;
    }
}
